:root {
  --background: #AB987A;
  --secondary: #0F1626;
  --details: #FF533D;
  --text: #F5F5F5;
  --test1: red;
  --test2: blue;
  --test3: yellow;
}

.App-container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.App-link {
  color: var(--details);
}

.content-color1 {
  background-color: var(--test1);
}
.content-color2 {
  background-color: var(--test2);
}
.content-color3 {
  background-color: var(--test3);
}

/*-------------------------------------------------------------------*/

.header{
  color: var(--text) !important;
}

.header-logo {
  height: 60px;
  cursor: pointer !important;
}

.header-search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.header-greetings {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

/*-------------------------------------------------------------------*/

.content {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card {
  background-color: var(--secondary);
  margin: 10px;
  padding: 15px;
}


/*-------------------------------------------------------------------*/


.footer {
  color: var(--text) !important;
  background-color: var(--details) !important;
}